@font-face {
  font-family: "HelveticaNeue";
  src: url(../assets/fonts/HelveticaNeue.ttf) format("opentype");
}

@font-face {
  font-family: "HelveticaNeue";
  src: url(../assets/fonts/Helvetica\ Neu\ Bold.ttf) format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url(../assets/fonts/HelveticaNeue\ Light.ttf) format("opentype");
  font-weight: 300;
  font-style: normal;
}