* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "HelveticaNeue";
  color: white;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  height: 91px;
  box-sizing: border-box;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 207px;
}

.logo h1 {
  color: #34c759;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.8px;
  margin-top: 40px;
}

.navigation {
  margin-top: 35px;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 303px;
}

.navigation-item > a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.home {
  height: 1080px;
  background: linear-gradient(to bottom, rgba(26, 26, 26, 0.0001) 0%, rgba(26, 26, 26, 1) 100%), url(../assets/images/placeholder.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
}

.home-overlay {
  background: rgba(33, 33, 33, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 171px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slogan {
  font-size: 72px;
  letter-spacing: 7.2px;
  max-width: 863px;
}

.slogan span {
  display: block;
  font-weight: 300;
}

.home p {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: -0.2px;
  opacity: 0.7;
  max-width: 595px;
}

.order-button {
  margin-top: 35px;
  margin-bottom: 70px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3.6px;
  color: #1a1a1a;
  background: #34c759;
  border: none;
  outline: none;
  padding: 25px 49px;
  border-radius: 43px;
}

.information {
  display: flex;
  justify-content: space-between;
  width: 915px;
}

.info-item {
  display: flex;
  flex-direction: column;
  width: 245px;
  height: 90px;
}

.info {
  margin-top: 16px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}

.explain {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.5;
}

.main {
  background: #1a1a1a;
}

.about {
  position: relative;
  bottom: 240px;
  margin-bottom: -240px;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 90px;
  background: #252525;
  border-radius: 6px;
}

.section-name {
  font-size: 100px;
  line-height: 150px;
  letter-spacing: 20px;
  font-weight: 900;
  color: #303030;
  text-transform: uppercase;
}

.section-slogan {
  margin-top: -100px;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: 6px;
  color: #d9d9d9;
}

.about-content p {
  max-width: 670px;
  margin-top: 31px;
  margin-bottom: 90px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: #a6a6a6;
  font-weight: normal;
}

.about-slider {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.slider {
  width: 734px;
}

.slider-content {
  display: flex;
  justify-content: space-between;
}

.work {
  padding-top: 60px;
  padding-bottom: 30px;
}

.work-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-content .section-slogan {
  margin-top: -120px;
  margin-right: 20px;
  font-size: 36px;
  line-height: 90px;
  letter-spacing: 7.2px;
}

.line {
  width: 60px;
  height: 2px;
  /* margin-right: 5px; */
  background: #34c759;
}

.work-services {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.service {
  display: flex;
  flex-direction: column;
  width: 255px;
  padding: 24px 24px 60px;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #252525;
}

.service-name {
  font-size: 22px;
  letter-spacing: -0.28px;
  font-weight: 500;
}

.service-line {
  width: 56px;
  height: 2px;
  margin-top: 15px;
  background: #34c759;
}

.service p {
  margin-top: 24px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.16px;
  color: rgba(255, 255, 255, 0.5);
}